.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  min-height: 0;
  width: 100%;

}

.page-container {
  display: flex;
    align-self: stretch;
    justify-content: center;
    flex: 1 0 auto;
}

.App-container {
  display: flex;
  height: 620px;
  align-self: stretch;
  justify-content: center;
  flex: 1 0 auto;
  background: white;
}

.App-logo {
  color: var(--color-text-default);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px !important;
  margin:0;
  font-weight: 400;
}

.unlock-button {
  background-color: #4459ff;
  padding: 0.75rem 1rem;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  border-radius: 100px;
  margin-top: 26px;
  color: white;
  box-shadow: none;
  border: 0px;
}

.no-underline {
  text-decoration: none;
}

.button {
  font-size: 0.875rem;
  font-family: "Centra No.1", Roboto, Helvetica, Arial, sans-serif;
  line-height: 140%;
  font-style: normal;
  font-weight: normal;
  font-weight: 500;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.btn-disabled {
  opacity: 0.5;
}

.btn-enabled {
  cursor: pointer;
  border: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.unlock_links {
  margin-top: 8px;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
}

.unlock_link {
  font-size: unset;
}

.btn-link {
  font-family: "Centra No.1", Roboto, Helvetica, Arial, sans-serif;
  line-height: 140%;
  font-style: normal;
  color: #8b99ff;
  cursor: pointer;
  background-color: transparent;
}

.App-link {
  color: #61dafb;
}

.support {
  margin-top: 25px;
  font-size: 0.75rem;
}

div {
  margin:0;
}

.password-input {
  margin: 56px 0 8px;
  width: 340px;
}

* {
  font-family: "Centra No.1", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
  font-size: 2rem;
  font-family: "Centra No.1", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 140%;
  font-style: normal;
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: -1px;
  font-weight: 500;
  color: #535a61;
}

#loading-content {
  overflow-x: hidden;
  height: 620px;
  display: flex;
  flex-direction: column;
}

.loading-logo {
  width: 10rem;
  height: 10rem;
  align-self: center;
  margin: 10rem 0 0 0;
}

.loading-spinner {
  width: 2rem;
  height: 2rem;
  align-self: center;
  margin-top: 1rem;
}

.select-chain-box {
  width: 400px !important;
  display: flex;
  margin-bottom: 54px;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  z-index: 10000;
  height: 68px;
  box-shadow: 0 2px 16px 0 #00000066;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../public/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../public/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../public/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../public/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../public/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url("../public/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/Euclid/EuclidCircularB-Regular-WebXL.ttf") format("truetype");
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: italic;
  font-weight: 400;
  src: url("../public/fonts/Euclid/EuclidCircularB-RegularItalic-WebXL.ttf") format("truetype");
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/Euclid/EuclidCircularB-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/Euclid/EuclidCircularB-Bold-WebXL.ttf") format("truetype");
}

@font-face {
  font-family: "Centra No.1";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/Centra No.1/CentraNo1-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Centra No.1";
  font-style: italic;
  font-weight: 400;
  src: url("../public/fonts/Centra No.1/CentraNo1-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Centra No.1";
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/Centra No.1/CentraNo1-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Centra No.1";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/Centra No.1/CentraNo1-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/helvetica-neue/HelveticaNeueBlack.otf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 400;
  src: url("../public/fonts/helvetica-neue/HelveticaNeueItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/helvetica-neue/HelveticaNeueMedium.otf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/helvetica-neue/HelveticaNeueBold.otf") format("truetype");
}